<div class="page">
    <section class="panel panel-default">
        <div class="panel-heading"><strong><span class="glyphicon glyphicon-th"></span> SEARCH DEVICE</strong></div>
        <div class="panel-body" data-ng-controller="searchDeviceCtrl">
            <wizard on-finish="notify('success')" class="wizard-steps-container" hide-indicators="false" template="app/searchDevice/wizard.html">
                <!--<span class="header-nav">{{ currentStepNumber }} of {{steps}}</span>-->
                <wz-step title="Patient Characteristics">
                    <h2 class="size-h2 form-header">Select Patient Characteristics</h2>
                    <div class="divider divider-lg"></div>
                    <form name="wizard_step1">
                        <div class="form-group input-group">
                            <label class="ui-checkbox col-md-5" style="padding-left: 0px !important;" ng-repeat="d in patientChar">
                                <input type="checkbox" value={{d}}><span ng-bind="d"></span>
                            </label>
                        </div>
                        <!--<div class="row">
                            <div class="col-md-6 col-lg-6" ng-repeat="d in diseaseList">
                                <section class="panel panel-box info-box" wz-next ng-click="isValidateStep1(d.name)">
                                    <div class="panel-left panel-item bg-danger">
                                        <i class="fa text-large stat-icon fa-heartbeat"></i>
                                    </div>
                                    <div class="panel-right panel-item bg-reverse" style="vertical-align: middle">
                                        &lt;!&ndash;<p class="size-h3 no-margin"><input name="selectedDiseases[]" type="checkbox" value={{d.name}} ng-model="d.selected"> <span ng-bind="d.name"></span></p>&ndash;&gt;
                                        <p class="size-h3 no-margin"><label><span ng-bind="d.name"></span></label></p>
                                    </div>
                                </section>
                            </div>
                        </div>-->
                    </form>
                    <buttton class="btn btn-primary nextStyle" wz-next>Next</buttton>
                </wz-step>
                <wz-step title="Disease Selection">
                    <h2 class="size-h2 form-header">Select disease</h2>
                    <div class="divider divider-lg"></div>
                    <form name="wizard_step1">
                            <!--<div class="form-group input-group">
                                <label class="ui-checkbox col-md-5" style="padding-left: 0px !important;" ng-repeat="d in diseaseList">
                                    <input name="selectedDiseases[]" type="checkbox" value={{d.name}} ng-model="d.selected"><span ng-bind="d.name"></span>
                                </label>
                            </div>-->
                        <div class="row">
                            <div class="col-md-6 col-lg-6" ng-repeat="d in diseaseList">
                                <section class="panel panel-box info-box" wz-next ng-click="isValidateStep1(d.name)">
                                    <div class="panel-left panel-item" style="padding: 10px;">
                                        <img ng-src="{{d.imgsrc}}" style="max-height: 50%;max-width: 50%;">
                                    </div>
                                    <div class="panel-right panel-item bg-reverse" style="vertical-align: middle">
                                        <!--<p class="size-h3 no-margin"><input name="selectedDiseases[]" type="checkbox" value={{d.name}} ng-model="d.selected"> <span ng-bind="d.name"></span></p>-->
                                        <p class="size-h3 no-margin"><label><span ng-bind="d.name"></span></label></p>
                                    </div>
                                </section>
                            </div>
                        </div>
                    </form>
                    <buttton class="btn btn-primary prevStyle" wz-previous>Previous</buttton>
                    <!--<buttton class="btn btn-primary nextStyle" ng-click="isValidateStep1()" wz-next>Next</buttton>-->
                </wz-step>
                <wz-step title="Key Metrics">
                    <!--If multiselect enabled then this will be needed-->
                    <!--<h2 class="size-h2">{{diseaseSelection[0]}} Key Metrics</h2>-->
                    <h2 class="size-h2 form-header">{{diseaseSelection}} Key Metrics</h2>
                    <div class="divider divider-lg"></div>
                    <form name="wizard_step2">
                        <div class="form-group input-group">
                            <div class="row-fluid">
                            <label class="ui-checkbox col-md-5" data-ng-controller="CollapseDemoCtrl" style="padding-left: 0px !important;" ng-repeat="rf in riskFactors">
                                <input name="selectedRisks[]" type="checkbox" value={{rf.name}} ng-model="rf.selected" ng-click="isCollapsed = !isCollapsed"><span ng-bind="rf.name"></span>
                                <ul class="collapse" collapse="!isCollapsed">
                                       <li class="metricInput list-group-item-success">
                                        <label class="ui-checkbox" style="margin: 10px 20px 10px 20px;"><span class="b"> Current : </span> <input type="text" class="input-collapse" placeholder=" units"></label>
                                        <label class="ui-checkbox" style="margin: 10px 20px 10px 20px;"><span class="b"> Limit : </span> <input type="text" class="input-collapse" placeholder=" units"></label>
                                        <label class="ui-checkbox" style="margin: 10px 20px 10px 20px;">
                                           <div class="open" dropdown="" is-open="status.isopen1">
                                               <button type="button"  class="btn btn-default dropdown-toggle" dropdown-toggle="" ng-disabled="disabled"> Frequency <span class="caret"></span> </button>
                                               <ul class="dropdown-menu" role="menu">
                                                   <li><a href="javascript:;">Hourly</a></li>
                                                   <li><a href="javascript:;">Daily</a></li>
                                                   <li><a href="javascript:;">Limit Reached</a></li>
                                               </ul>
                                           </div>
                                        </label>
                                       </li>
                                </ul>
                            </label>
                            </div>
                            <div class="row-fluid" data-ng-controller="CollapseDemoCtrl">
                                <h2 class="size-h2 col-md-12 form-header" style="padding-left: 0;" ng-click="isCollapsed = !isCollapsed;">Additional Key Metrics <span class="fa fa-angle-double-right"></span></h2>
                                <div class="row-fluid" collapse="!isCollapsed">
                                <label class="ui-checkbox col-md-5" data-ng-controller="CollapseDemoCtrl" style="padding-left: 0px !important;" ng-repeat="rf in otherRisks">
                                    <input name="selectedRisks[]" type="checkbox" value={{rf.name}} ng-model="rf.selected" ng-click="isCollapsed = !isCollapsed"><span ng-bind="rf.name"></span>
                                    <ul class="collapse" collapse="!isCollapsed">
                                        <li class="metricInput list-group-item-success">
                                            <label class="ui-checkbox" style="margin: 10px 20px 10px 20px;"><span class="b"> Current : </span> <input type="text" placeholder=" units" class="input-collapse"></label>
                                            <label class="ui-checkbox" style="margin: 10px 20px 10px 20px;"><span class="b"> Limit : </span> <input type="text" placeholder=" units" class="input-collapse"></label>
                                            <label class="ui-checkbox" style="margin: 10px 20px 10px 20px;">
                                                <div class="open" dropdown="" is-open="status.isopen1">
                                                    <button type="button"  class="btn btn-default dropdown-toggle" dropdown-toggle="" ng-disabled="disabled"> Frequency <span class="caret"></span> </button>
                                                    <ul class="dropdown-menu" role="menu">
                                                        <li><a href="javascript:;">Hourly</a></li>
                                                        <li><a href="javascript:;">Daily</a></li>
                                                        <li><a href="javascript:;">Weekly</a></li>
                                                        <li><a href="javascript:;">Limit Reached</a></li>
                                                    </ul>
                                                </div>
                                            </label>
                                        </li>
                                    </ul>
                                </label>
                                </div>
                            </div>
                        </div>
                        <!-- Unusual Symptoms -  Next release :) -->
                        <!--<h3>Unusual symptoms</h3>
                        <div class="form-group input-group">
                            <input type="text" placeholder="Enter new symptom" class="input-info form-control" ng-model="wizard.symptom" name="unusualSymptoms">
                            <buttton class="btn btn-info" style="display: table-cell;" ng-click="addUnusualSymptom()">Add Symptom</buttton>
                        </div>
                        <div class="error" ng-show="wizard.inpError">
                            <label class="err-message err-body">Please enter a value</label>
                        </div>
                        <div class="form-group input-group" ng-if="unusualList">
                            <ul>
                               <li ng-repeat="item in unusualList"><span ng-bind="item"></span></li>
                            </ul>
                        </div>-->
                    </form>
                    <buttton class="btn btn-primary prevStyle" wz-previous>Previous</buttton>
                    <buttton class="btn btn-primary nextStyle" ng-click="isValidateStep2()" wz-next>Next</buttton>
                </wz-step>
                <wz-step title="Device Category">
                    <h2 class="size-h2 form-header">Recommended Device Categories</h2>
                    <div class="divider divider-lg"></div>
                    <form name="wizard_step3">
                        <!--Iterating selected risks-->
                        <div class="row">
                            <div ng-if="riskSelection.length == 0" class="callout callout-danger">
                                <h4>No recommendations available</h4>
                                <strong>Additional Info : </strong>
                                <p>Please ensure to make a selection in the previous step if not selected any metrics. There may be no available devices for current selection.</p>
                            </div>
                            <div class="col-md-6 col-lg-6" ng-if="riskSelection.length > 0" ng-repeat="dc in deviceCategory">
                                <!--<li class="list-group-item" wz-next><span class="size-h4" ng-bind="dc"></span> <button type="button" class="btn btn-info badge badge-info">View Devices</button></li>-->
                                        <section class="panel panel-box info-box" wz-next="isValidateStep3(dc.name)">
                                            <div class="panel-left panel-item" style="padding: 0;">
                                                <img ng-src="{{dc.imgsrc}}" style="max-height:50%;max-width: 50%;">
                                            </div>
                                            <div class="panel-right panel-item bg-reverse" style="vertical-align: middle">
                                                <p class="size-h3 no-margin"><label><span ng-bind="dc.name"></span></label></p>
                                            </div>
                                        </section>
                            </div>
                        </div>
                    </form>
                    <buttton class="btn btn-primary prevStyle" wz-previous>Previous</buttton>
                    <buttton type="submit" class="btn btn-primary nextStyle" wz-finish>Finish</buttton>
                </wz-step>
                <wz-step title="Device List">
                    <div class="row">
                        <div class="col-md-8">
                            <h2 class="size-h2 form-header">{{devCat}} Devices</h2>
                        </div>
                        <div class="col-md-4">
                            <div class="open" style="margin-top: 20px;" dropdown="" is-open="status.isopen1">
                                <button type="button"  class="btn btn-default dropdown-toggle" dropdown-toggle="" ng-disabled="disabled"> Sort By <span class="caret"></span> </button>
                                <ul class="dropdown-menu" role="menu">
                                    <li><a href="javascript:;">Price</a></li>
                                    <li><a href="javascript:;">Relevance</a></li>
                                    <li><a href="javascript:;">Reviews</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="divider divider-lg"></div>
                    <form name="wizard_step4">
                    <div class="row">
                        <div class="col-md-3 col-xsm-6">
                            <section class="pricing-table pricing-table-success">
                                <header>Image of the device</header>
                                <div class="pricing-body">
                                    <div class="pricing-price">
                                        <strong>Withings Smart Scale</strong>
                                    </div>
                                    <ul data-ng-controller="CollapseDemoCtrl" style="text-align: left">
                                        <li><strong> Cost : </strong> $149.99 </li>
                                        <li ng-click="isCollapsed = !isCollapsed"><strong> Technical Specification</strong></li>
                                        <div class="row-fluid" collapse="!isCollapsed">
                                            <ul style="list-style: none">
                                            <li><strong> Air quality Screening : </strong> Yes </li>
                                            <li><strong> Daily Report : </strong> Yes </li>
                                            <li><strong> Body Fat : </strong> Yes </li>
                                            </ul>
                                        </div>
                                        <li popover-placement="right" popover-title="Options" popover-append-to-body="true" popover="SMS,Email"><strong>Modalities</strong></li>
                                        <!--forcing background-color since it does not render as expected-->
                                        <li popover-placement="right" popover-title="Requires" popover-append-to-body="true" popover="Smartphone" style="background-color: #f9f9f9;"><strong>Usability</strong></li>
                                    </ul>
                                </div>
                                <footer>
                                    <a href="javascript:;" class="btn btn-success" wz-previous>Prescribe this</a>
                                </footer>
                            </section>
                        </div>
                        <div class="col-md-3 col-xsm-6">
                            <section class="pricing-table pricing-table-success">
                                <header>Image of the device</header>
                                <div class="pricing-body">
                                    <div class="pricing-price">
                                        <strong>Withings Smart Scale</strong>
                                    </div>
                                    <ul data-ng-controller="CollapseDemoCtrl" style="text-align: left">
                                        <li><strong> Cost : </strong> $149.99 </li>
                                        <li ng-click="isCollapsed = !isCollapsed"><strong> Technical Specification </strong></li>
                                        <div class="row-fluid" collapse="!isCollapsed">
                                            <ul style="list-style: none">
                                                <li><strong> Air quality Screening : </strong> Yes </li>
                                                <li><strong> Daily Report : </strong> Yes </li>
                                                <li><strong> Body Fat : </strong> Yes </li>
                                            </ul>
                                        </div>
                                        <li popover-placement="right" popover-title="Options" popover-append-to-body="true" popover="Web Profile,SMS,Email"><strong>Modalities</strong></li>
                                        <li popover-placement="right" popover-title="Requires" popover-append-to-body="true" popover="Smartphone" style="background-color: #f9f9f9;"><strong>Usability</strong></li>
                                    </ul>
                                </div>
                                <footer>
                                    <a href="javascript:;" class="btn btn-success" wz-previous>Prescribe this</a>
                                </footer>
                            </section>
                        </div>
                    </div>
                    </form>
                    <buttton class="btn btn-primary prevStyle" wz-previous>Previous</buttton>
                </wz-step>
            </wizard>
        </div>
    </section>
</div>
