<div class="page">
    <!--<section class="panel panel-default">
        <div class="panel-heading"><strong><span class="glyphicon glyphicon-th"></span> Device Search</strong></div>
        <div class="panel-body">
            <div data-ui-wizard-form>
                <h1>Primary Risk Factors</h1>
                <div>
                    <form>
                        <label class="ui-checkbox col-md-5" style="padding-left: 0px !important;" ng-repeat="rf in riskFactors">
                            <input name="riskfactors" type="checkbox" value={{rf}}><span>{{rf}}</span>
                        </label>
                    </form>
                </div>

                <h1>Secondary Risk Factors</h1>
                <div>Second Content</div>

                <h1>Device Features</h1>
                <div>Third Content</div>
            </div>
        </div>
    </section>-->

    <section class="panel panel-default">
        <div class="panel-heading"><strong><span class="glyphicon glyphicon-th"></span> SEARCH DEVICE</strong></div>
        <div class="panel-body" data-ng-controller="searchDeviceCtrl">
            <wizard on-finish="finishedWizard()" class="wizard-steps-container" hide-indicators="true">
                <wz-step title="Disease Diagnosis">
                    <h2>Select disease to diagnose : </h2>
                    <form name="wizard_step1">
                            <div class="form-group input-group">
                                <label class="ui-checkbox col-md-5" style="padding-left: 0px !important;" ng-repeat="d in diseaseList">
                                    <input name="selectedDiseases[]" type="checkbox" value={{d.name}} ng-model="d.selected"><span ng-bind="d.name"></span>
                                </label>
                            </div>
                    </form>
                    <buttton class="btn btn-primary" ng-click="isValidateStep1()" wz-next>Next</buttton>
                </wz-step>
                <wz-step title="Symptoms and Risk Factors">
                    <h2>What are the symptoms/metrics?</h2>
                    <form name="wizard_step2">
                        <h3>Common symptoms / Key Metrics</h3>
                        <div class="form-group input-group">
                            <label class="ui-checkbox col-md-5" style="padding-left: 0px !important;" ng-repeat="rf in riskFactors">
                                <input name="selectedRisks[]" type="checkbox" value={{rf.name}} ng-model="rf.selected"><span ng-bind="rf.name"></span>
                            </label>
                        </div>
                        <!-- Unusual Symptoms -  Next release :) -->
                        <!--<h3>Unusual symptoms</h3>
                        <div class="form-group input-group">
                            <input type="text" placeholder="Enter new symptom" class="input-info form-control" ng-model="wizard.symptom" name="unusualSymptoms">
                            <buttton class="btn btn-info" style="display: table-cell;" ng-click="addUnusualSymptom()">Add Symptom</buttton>
                        </div>
                        <div class="error" ng-show="wizard.inpError">
                            <label class="err-message err-body">Please enter a value</label>
                        </div>
                        <div class="form-group input-group" ng-if="unusualList">
                            <ul>
                               <li ng-repeat="item in unusualList"><span ng-bind="item"></span></li>
                            </ul>
                        </div>-->
                    </form>
                    <buttton class="btn btn-primary" wz-previous>Previous</buttton>
                    <buttton class="btn btn-primary" ng-click="isValidateStep2()" wz-next>Next</buttton>
                </wz-step>
                <wz-step title="Device Features">
                    <h2>What would you like to track?</h2>
                    <form name="wizard_step3">
                        <!--Iterating selected risks-->
                        <div class="form-group" ng-if="riskSelection.length>0">
                            <h3>Selected metrics</h3>
                            <div class="panel panel-info" data-ng-controller="CollapseDemoCtrl" ng-repeat="rs in riskSelection">
                                <div class="panel-heading" ng-click="isCollapsed = !isCollapsed">
                                    <label><span class="panel-title" ng-bind="rs"></span></label>
                                </div>
                                <div class="panel-body collapse" collapse="isCollapsed">
                                    <label class="ui-checkbox" style="padding-left: 0px !important;">
                                        <input type="checkbox"><span>Feature</span>
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group input-group">
                            <h3>Available features</h3>
                            <label class="ui-checkbox col-md-5" style="padding-left: 0px !important;" ng-repeat="df in deviceFeatures">
                                <input name="selectedFeatures[]" type="checkbox" value={{df.name}} ng-model="df.selected"><span ng-bind="df.name"></span>
                                <label><span class="label-info label span4" style="margin-right: 0.5em">Symptom1</span></label>
                            </label>
                        </div>
                    </form>
                    <buttton class="btn btn-primary" wz-previous>Previous</buttton>
                    <buttton type="submit" class="btn btn-primary" ng-click="search()" wz-next>Find Device</buttton>
                </wz-step>
            </wizard>
        </div>
    </section>


</div>
