.nextStyle{
    float: right;
}
.prevStyle{
    float: left;
}
.logoImage{
    height: 100%;
    width : auto;
}
.input-collapse{
    width: 70px;
}
.metricInput{
    vertical-align: middle;
    list-style: none;
}
.horizontal-center{
    margin: auto;
    width: 70%;
}

